<h2>MY MOVIES</h2>
<h1> My name is sumitsdfnm</h1>
<hr>
<!-- <form class="well" (submit)="addMovies($event)">
  <div class= "form-group">
    <label>ID</label>
      <input type="text" [(ngModel)]="id" name="id" class="form-control" placeholder="Add ID..">
  </div>
  <div class= "form-group">
    <label>Movie Name</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Add Movie..">
  </div>
  <div class= "form-group">
    <label>Cover Name</label>
      <input type="text" [(ngModel)]="cover" name="cover" class="form-control" placeholder="Add Cover..">
  </div>
  <input type = "submit" class = "btn btn btn-success" value = "Add">
</form> -->

<hr>
<h1> My name is sumit</h1>
<h1> My name is kumar</h1>
<h1> My name is khan</h1>
<!--<div class = "container">
    <div *ngFor = "let movie of movies">

        <div class = "col-md-7">
            {{movie.id}}    {{movie.name}}    {{movie.cover}}
        </div>



    </div>
</div>
-->
